// COLORS
$color-white-light: #ffffff;
$color-blue-light-1: #d1effb;

$color-blue-light: #2face7;
$color-blue-dark: #1e1e2f;

$color-secondary-light: #fff201;
$color-secondary-dark: #4fc061;

$color-tertiary-light: #f8c9a4;
$color-tertiary-dark: #fe2306;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777777;
$color-grey-dark-2: #565656;
$color-grey-dark-3: #333;

$color-red-light: #ea242e;
$color-black: #000;
$color-orange-light: #ef4824;
// FONT
$default-font-size: 1.6rem;
