.footer {
    // height: 65rem;
    background-image: linear-gradient(
            to top,
            rgba($color-blue-light-1, 0.2),
            rgba($color-blue-light, 0.4)
        ),
        url(../img/logo/backgroundFooter.jpg);
    background-size: cover;
    // text-align: center;
    font-size: 1.4rem;
    color: $color-blue-dark;

    @include respond(phone) {
        background-image: linear-gradient(
                to top,
                rgba($color-blue-light-1, 0.3),
                rgba($color-blue-light, 0.4)
            ),
            url(../img/mobile/backgroundFooter-mobile.jpg);
    }
}

.info-contact {
    padding: 10rem 16rem;

    @include respond(phone) {
        padding: 5rem 4.3rem;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 9rem;

        @include respond(phone) {
            gap: 5rem;
            grid-template-columns: 1fr;
        }
    }
    &__box {
        text-align: left;
    }
    &__logo {
        margin-bottom: 3rem;
        .img {
            @include img-logo;
        }

        @include respond(phone) {
            text-align: center;
        }
    }

    &__text {
        h2 {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 2rem;
            @include respond(phone) {
                text-align: center;
                font-size: 1.8rem;
            }
        }
        ul li {
            list-style: none;
            margin: 1.6rem 0;
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            gap: 2rem;
            .icon-first {
                font-size: 3rem;
                text-align: center;
            }

            a {
                text-decoration: none;
                color: $color-grey-dark-3;
            }

            @include respond(phone) {
                gap: 1.6rem;
            }
        }
    }

    &__icons {
        font-size: 3rem;
        ion-icon {
            &:not(:last-child) {
                margin-right: 2rem;
            }
        }

        .icon {
            display: inline-block;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            &:hover {
                cursor: pointer;
                transform: translateY(-0.3rem);
                -webkit-transform: translateY(-0.3rem);
                -moz-transform: translateY(-0.3rem);
                -ms-transform: translateY(-0.3rem);
                -o-transform: translateY(-0.3rem);
                box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
            }
        }
    }

    &__form {
        margin: 0 5rem;
        @include respond(phone) {
            margin: 0;
        }
        h2 {
            text-align: center;
            margin-bottom: 3rem;
        }
        .form-combo {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5rem;
        }
    }
}
