.btn {
    &,
    &:link,
    &:visited {
        position: relative;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        font-size: $default-font-size;
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-0.3rem);
        -webkit-transform: translateY(-0.3rem);
        -moz-transform: translateY(-0.3rem);
        -ms-transform: translateY(-0.3rem);
        -o-transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-0.1rem);
        -webkit-transform: translateY(-0.1rem);
        -moz-transform: translateY(-0.1rem);
        -ms-transform: translateY(-0.1rem);
        -o-transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &--blue {
        background-color: $color-blue-light;
        color: $color-white-light;
    }

    &--animated {
        animation: moveInBottom 0.5s ease-out 0.75s;
        -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}
